
html{
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color:rgb(189, 184, 184);
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
}
h6{
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}
p{
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}
h3{
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(59, 57, 57);
}

@media screen and (max-width: 600px) {
    #navbar{
        width: 100%;
        justify-content: space-between;
        background-color: rgb(133, 123, 112);
        padding-bottom: 1rem;
        padding-top: 0.2rem;
        border-radius: 0.5rem;

    }

    #nav-header{
        text-align: center;
    }
    .nav-link{
        text-decoration: none;
        color: rgb(88, 67, 8);
        width:max-content;
        margin: 0.5rem;
        font-size: 0.7rem;
    
    }
    #nav-items{
        width: max-content;
        margin: auto;
    }
    
}


.nav-link{
    text-decoration: none;
    color: rgb(88, 67, 8);
    width:max-content;
    margin: 0.5rem;

}

.nav-link:hover{
    text-decoration: none;
    color: rgb(180, 137, 17);

}